@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Lato", sans-serif;
}

.active {
    background-color: white !important;
}

.active:focus {
    background-color: white !important;
}
a .active:link {
    background-color: yellow !important;
}
a .active:visited {
    background-color: green !important;
}
a .active:active {
    background-color: red !important;
}